name: Check the Docker image on PR
on: pull_request
jobs:
  build-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Cache Docker layers
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      - name: Build Docker image
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          push: false
          tags: latest
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache

  smoke-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846

      - name: Run Smoke Tests in Docker
        run: bin/run-tests-in-docker.sh

  test-all-exercises:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout elm-test-runner
        uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846

      - name: Checkout elm repo
        uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846
        with:
          repository: exercism/elm
          path: elm_repo

      - name: Run tests on all exercises
        run: bin/run-all-exercises-in-docker.sh elm_repo
